.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #C8AE7D;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #765827;
  font-size: 8rem;
  color: #CEE6F3;
}

p {
  font-size: 2rem;
  color: #765827;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #CEE6F3;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
